## AWS
# env_file: .env
# secret_name: my-creds
# vault: aws
# region: us-west-2

## Azure
# env_file: .env
# secret_name: my-creds
# vault: azure
# vault_url: https://my-creds.vault.azure.net/

# GCP
# env_file: .env
# secret_name: nyell-db-creds
# vault: gcp
# project_id: project-12345
