name: Run unit tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"
env:
  PYTHONPATH: ./src # Needed for tests to discover whispr package
jobs:
  test:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install python-dateutil pytest mock pytest-cov coverage coveragepy-lcov

      - name: Run Test
        run: |
          pytest --cov coveralls --cov-report term-missing --cov=resources tests/

      - name: Covert to lcov
        run: |
          coveragepy-lcov

      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: lcov.info
